In [112]:
import os
import numpy as np
import pandas as pd
from PIL import Image   
from PIL import ImageFile

In [113]:
MAIN_PATH = os.getcwd()
# print(MAIN_PATH)

In [114]:
os.listdir(MAIN_PATH + "/Spoof_data")
# print(MAIN_PATH + "/Spoof_data")

['Testing Biometrika Live',
 'Testing Biometrika Spoof',
 'Training Biometrika Live',
 'Training Biometrika Spoof']

In [115]:
# print(MAIN_PATH + '/Spoof_data/Testing Biometrika Live/live')
tr_live = os.listdir(MAIN_PATH + '/Spoof_data/Testing Biometrika Live/live')
tr_spoof =  os.listdir(MAIN_PATH + '/Spoof_data/Testing Biometrika Spoof/Testing Biometrika Spoof/spoof')
ts_live = os.listdir(MAIN_PATH + '/Spoof_data/Training Biometrika Live/test live')
ts_spoof =  os.listdir(MAIN_PATH + '/Spoof_data/Training Biometrika Spoof/Training Biometrika Spoof/test spoof')

In [116]:
ImageFile.LOAD_TRUNCATED_IMAGES = True

In [117]:
tr_live_image = []

In [118]:
for each_image in tr_live:
    image = Image.open(MAIN_PATH + '/Spoof_data/Testing Biometrika Live/live/'+each_image)
    image = image.resize((300,300))
    tr_live_image.append(np.array(image).flatten())

In [119]:
tr_live_image = np.array(tr_live_image)

In [120]:
tr_live_image

array([[ 71,  71,  71, ..., 141, 141, 141],
       [ 78,  78,  78, ..., 167, 167, 167],
       [ 73,  73,  73, ..., 159, 159, 159],
       ...,
       [ 76,  76,  76, ..., 145, 145, 145],
       [ 68,  68,  68, ..., 137, 137, 137],
       [ 70,  70,  70, ..., 137, 137, 137]], dtype=uint8)

In [121]:
tr_live_df = pd.DataFrame(data = tr_live_image)

In [122]:
tr_live_df['target'] = 1

In [123]:
tr_live_df

,0,1,2,3,4,5,6,7,8,9,...,269991,269992,269993,269994,269995,269996,269997,269998,269999,target
0,71,71,71,69,69,69,70,70,70,72,...,105,105,105,111,111,111,141,141,141,1
1,78,78,78,73,73,73,75,75,75,76,...,124,124,124,133,133,133,167,167,167,1
2,73,73,73,70,70,70,73,73,73,73,...,122,122,122,129,129,129,159,159,159,1
3,68,68,68,68,68,68,68,68,68,70,...,102,102,102,105,105,105,136,136,136,1
4,67,67,67,66,66,66,66,66,66,69,...,113,113,113,120,120,120,151,151,151,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,67,67,67,63,63,63,66,66,66,69,...,99,99,99,104,104,104,133,133,133,1
196,75,75,75,71,71,71,73,73,73,74,...,123,123,123,131,131,131,160,160,160,1
197,76,76,76,73,73,73,75,75,75,74,...,111,111,111,116,116,116,145,145,145,1
198,68,68,68,66,66,66,69,69,69,68,...,104,104,104,108,108,108,137,137,137,1
199,70,70,70,65,65,65,67,67,67,69,...,101,101,101,106,106,106,137,137,137,1

In [124]:
tr_spoof_image = []
for each_image in tr_spoof:
    image = Image.open(MAIN_PATH + '/Spoof_data/Testing Biometrika Spoof/Testing Biometrika Spoof/spoof/'+each_image)
    image = image.resize((300,300))
    tr_spoof_image.append(np.array(image).flatten())

In [125]:
tr_spoof_image = np.array(tr_spoof_image)

In [126]:
tr_spoof_image

array([[ 68,  68,  68, ..., 139, 139, 139],
       [ 70,  70,  70, ..., 145, 145, 145],
       [ 69,  69,  69, ..., 140, 140, 140],
       ...,
       [ 76,  76,  76, ..., 157, 157, 157],
       [ 73,  73,  73, ..., 152, 152, 152],
       [ 75,  75,  75, ..., 158, 158, 158]], dtype=uint8)

In [127]:
tr_spoof_df = pd.DataFrame(data = tr_spoof_image)

In [128]:
tr_spoof_df['target'] = 0

In [129]:
tr_spoof_df

,0,1,2,3,4,5,6,7,8,9,...,269991,269992,269993,269994,269995,269996,269997,269998,269999,target
0,68,68,68,67,67,67,67,67,67,69,...,100,100,100,101,101,101,139,139,139,0
1,70,70,70,69,69,69,69,69,69,71,...,105,105,105,107,107,107,145,145,145,0
2,69,69,69,66,66,66,67,67,67,68,...,100,100,100,103,103,103,140,140,140,0
3,70,70,70,65,65,65,68,68,68,69,...,102,102,102,102,102,102,140,140,140,0
4,71,71,71,66,66,66,67,67,67,69,...,99,99,99,100,100,100,141,141,141,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,74,74,74,71,71,71,72,72,72,75,...,118,118,118,123,123,123,158,158,158,0
196,75,75,75,71,71,71,72,72,72,74,...,117,117,117,123,123,123,157,157,157,0
197,76,76,76,71,71,71,71,71,71,73,...,121,121,121,123,123,123,157,157,157,0
198,73,73,73,71,71,71,72,72,72,73,...,112,112,112,118,118,118,152,152,152,0
199,75,75,75,71,71,71,72,72,72,74,...,118,118,118,124,124,124,158,158,158,0

In [130]:
ts_spoof_image = []
for each_image in ts_spoof:
    image = Image.open(MAIN_PATH + '/Spoof_data/Training Biometrika Spoof/Training Biometrika Spoof/test spoof/'+ each_image)
    image = image.resize((300,300))
    ts_spoof_image.append(np.array(image).flatten())

In [131]:
ts_spoof_image = np.array(ts_spoof_image)

In [132]:
ts_spoof_df = pd.DataFrame(data = ts_spoof_image)

In [133]:
ts_spoof_df['target'] = 0

In [134]:
ts_spoof_df

,0,1,2,3,4,5,6,7,8,9,...,269991,269992,269993,269994,269995,269996,269997,269998,269999,target
0,70,70,70,69,69,69,71,71,71,73,...,123,123,123,129,129,129,161,161,161,0
1,69,69,69,68,68,68,68,68,68,71,...,119,119,119,126,126,126,156,156,156,0
2,72,72,72,69,69,69,70,70,70,71,...,120,120,120,130,130,130,161,161,161,0
3,72,72,72,70,70,70,69,69,69,73,...,122,122,122,126,126,126,156,156,156,0
4,70,70,70,69,69,69,69,69,69,72,...,117,117,117,125,125,125,152,152,152,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,70,70,70,66,66,66,69,69,69,70,...,118,118,118,125,125,125,164,164,164,0
203,69,69,69,67,67,67,68,68,68,69,...,116,116,116,123,123,123,160,160,160,0
204,70,70,70,68,68,68,70,70,70,71,...,120,120,120,127,127,127,163,163,163,0
205,68,68,68,63,63,63,65,65,65,68,...,114,114,114,122,122,122,155,155,155,0
206,72,72,72,67,67,67,69,69,69,71,...,120,120,120,124,124,124,163,163,163,0

In [135]:
ts_live_image = []
for each_image in ts_live:
    image = Image.open(MAIN_PATH + '/Spoof_data/Training Biometrika Live/test live/'+each_image)
    image = image.resize((300,300))
    ts_live_image.append(np.array(image).flatten())

In [136]:
ts_live_image = np.array(ts_spoof_image)

In [137]:
ts_live_df = pd.DataFrame(data = ts_spoof_image)

In [138]:
ts_live_df['target'] = 1

In [139]:
ts_live_df

,0,1,2,3,4,5,6,7,8,9,...,269991,269992,269993,269994,269995,269996,269997,269998,269999,target
0,70,70,70,69,69,69,71,71,71,73,...,123,123,123,129,129,129,161,161,161,1
1,69,69,69,68,68,68,68,68,68,71,...,119,119,119,126,126,126,156,156,156,1
2,72,72,72,69,69,69,70,70,70,71,...,120,120,120,130,130,130,161,161,161,1
3,72,72,72,70,70,70,69,69,69,73,...,122,122,122,126,126,126,156,156,156,1
4,70,70,70,69,69,69,69,69,69,72,...,117,117,117,125,125,125,152,152,152,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,70,70,70,66,66,66,69,69,69,70,...,118,118,118,125,125,125,164,164,164,1
203,69,69,69,67,67,67,68,68,68,69,...,116,116,116,123,123,123,160,160,160,1
204,70,70,70,68,68,68,70,70,70,71,...,120,120,120,127,127,127,163,163,163,1
205,68,68,68,63,63,63,65,65,65,68,...,114,114,114,122,122,122,155,155,155,1
206,72,72,72,67,67,67,69,69,69,71,...,120,120,120,124,124,124,163,163,163,1

In [140]:
tr_df = tr_live_df.append(tr_spoof_df)

C:\Users\prasa\AppData\Local\Temp\ipykernel_7728\2747403433.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tr_df = tr_live_df.append(tr_spoof_df)

In [141]:
ts_df = ts_live_df.append(ts_spoof_df)

C:\Users\prasa\AppData\Local\Temp\ipykernel_7728\2861479591.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ts_df = ts_live_df.append(ts_spoof_df)

In [142]:
y_tr = tr_df['target']

In [143]:
tr_df.drop('target', axis=1)

,0,1,2,3,4,5,6,7,8,9,...,269990,269991,269992,269993,269994,269995,269996,269997,269998,269999
0,71,71,71,69,69,69,70,70,70,72,...,102,105,105,105,111,111,111,141,141,141
1,78,78,78,73,73,73,75,75,75,76,...,121,124,124,124,133,133,133,167,167,167
2,73,73,73,70,70,70,73,73,73,73,...,118,122,122,122,129,129,129,159,159,159
3,68,68,68,68,68,68,68,68,68,70,...,98,102,102,102,105,105,105,136,136,136
4,67,67,67,66,66,66,66,66,66,69,...,110,113,113,113,120,120,120,151,151,151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,74,74,74,71,71,71,72,72,72,75,...,121,118,118,118,123,123,123,158,158,158
196,75,75,75,71,71,71,72,72,72,74,...,122,117,117,117,123,123,123,157,157,157
197,76,76,76,71,71,71,71,71,71,73,...,121,121,121,121,123,123,123,157,157,157
198,73,73,73,71,71,71,72,72,72,73,...,115,112,112,112,118,118,118,152,152,152
199,75,75,75,71,71,71,72,72,72,74,...,120,118,118,118,124,124,124,158,158,158

In [144]:
y_ts = ts_df['target']

In [145]:
ts_df.drop('target', axis=1)

,0,1,2,3,4,5,6,7,8,9,...,269990,269991,269992,269993,269994,269995,269996,269997,269998,269999
0,70,70,70,69,69,69,71,71,71,73,...,118,123,123,123,129,129,129,161,161,161
1,69,69,69,68,68,68,68,68,68,71,...,115,119,119,119,126,126,126,156,156,156
2,72,72,72,69,69,69,70,70,70,71,...,119,120,120,120,130,130,130,161,161,161
3,72,72,72,70,70,70,69,69,69,73,...,119,122,122,122,126,126,126,156,156,156
4,70,70,70,69,69,69,69,69,69,72,...,115,117,117,117,125,125,125,152,152,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,70,70,70,66,66,66,69,69,69,70,...,118,118,118,118,125,125,125,164,164,164
203,69,69,69,67,67,67,68,68,68,69,...,115,116,116,116,123,123,123,160,160,160
204,70,70,70,68,68,68,70,70,70,71,...,118,120,120,120,127,127,127,163,163,163
205,68,68,68,63,63,63,65,65,65,68,...,114,114,114,114,122,122,122,155,155,155
206,72,72,72,67,67,67,69,69,69,71,...,118,120,120,120,124,124,124,163,163,163

In [146]:
from sklearn import svm
from sklearn.metrics import classification_report, accuracy_score

In [147]:
svm_model = svm.SVC()
svm_model.fit(tr_df, y_tr)

C:\Users\prasa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

SVC()

In [148]:
y_predict = svm_model.predict(ts_df)

C:\Users\prasa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [149]:
accuracy = round(accuracy_score(y_ts, y_predict)*100,2)
print(accuracy)

50.0

In [150]:
print(classification_report(y_ts, y_predict))

              precision    recall  f1-score   support

           0       0.50      0.52      0.51       207
           1       0.50      0.48      0.49       207

    accuracy                           0.50       414
   macro avg       0.50      0.50      0.50       414
weighted avg       0.50      0.50      0.50       414