In [88]:
from PIL import Image
import glob
import numpy as np
import pandas as pd

In [89]:
x_test=pd.DataFrame([])
images = glob.glob("Spoof_data/Testing Biometrika Spoof/Testing Biometrika Spoof/spoof/*.png")
for image in images:
    with open(image, 'rb') as file:
        img = Image.open(file)
        resize = (25, 25)
        img = img.resize(resize)
        arr = np.array(img)
        vector = arr.ravel()
        vector=[vector]
        image = pd.DataFrame(vector)
        x_test=x_test.append(image,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_7124\396876898.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x_test=x_test.append(image,ignore_index = True)

In [90]:
x_test.head()

,0,1,2,3,4,5,6,7,8,9,...,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874
0,78,78,78,79,79,79,87,87,87,92,...,-104,-111,-111,-111,-120,-120,-120,127,127,127
1,79,79,79,81,81,81,88,88,88,94,...,-102,-108,-108,-108,-116,-116,-116,-126,-126,-126
2,78,78,78,79,79,79,87,87,87,92,...,-105,-110,-110,-110,-118,-118,-118,-127,-127,-127
3,78,78,78,79,79,79,87,87,87,92,...,110,-118,-118,-118,-119,-119,-119,-128,-128,-128
4,78,78,78,79,79,79,87,87,87,92,...,-106,-111,-111,-111,-119,-119,-119,-128,-128,-128

In [91]:
x_test.loc[:,'label'] = 0

In [92]:
x_test.head()

,0,1,2,3,4,5,6,7,8,9,...,1866,1867,1868,1869,1870,1871,1872,1873,1874,label
0,78,78,78,79,79,79,87,87,87,92,...,-111,-111,-111,-120,-120,-120,127,127,127,0
1,79,79,79,81,81,81,88,88,88,94,...,-108,-108,-108,-116,-116,-116,-126,-126,-126,0
2,78,78,78,79,79,79,87,87,87,92,...,-110,-110,-110,-118,-118,-118,-127,-127,-127,0
3,78,78,78,79,79,79,87,87,87,92,...,-118,-118,-118,-119,-119,-119,-128,-128,-128,0
4,78,78,78,79,79,79,87,87,87,92,...,-111,-111,-111,-119,-119,-119,-128,-128,-128,0

In [93]:
x_test1=pd.DataFrame([])
images = glob.glob("Spoof_data/Testing Biometrika Live/live/*.png")
for image in images:
    with open(image, 'rb') as file:
        img = Image.open(file)
        resize = (25, 25)
        img = img.resize(resize)
        arr = np.array(img)
        vector = arr.ravel()
        vector=[vector]
        image = pd.DataFrame(vector)
        x_test1=x_test1.append(image,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_7124\3084286692.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x_test1=x_test1.append(image,ignore_index = True)

In [94]:
x_test1.head()

,0,1,2,3,4,5,6,7,8,9,...,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874
0,84,84,84,87,87,87,88,88,88,90,...,-106,-121,-121,-121,123,123,123,107,107,107
1,87,87,87,91,91,91,92,92,92,94,...,-88,-98,-98,-98,-112,-112,-112,126,126,126
2,84,84,84,87,87,87,88,88,88,91,...,-126,-114,-114,-114,-117,-117,-117,122,122,122
3,81,81,81,84,84,84,85,85,85,87,...,-101,-121,-121,-121,117,117,117,102,102,102
4,80,80,80,83,83,83,84,84,84,85,...,-101,-111,-111,-111,-123,-123,-123,123,123,123

In [95]:
x_test1.loc[:,'label']=1

In [96]:
x_test1.head()

,0,1,2,3,4,5,6,7,8,9,...,1866,1867,1868,1869,1870,1871,1872,1873,1874,label
0,84,84,84,87,87,87,88,88,88,90,...,-121,-121,-121,123,123,123,107,107,107,1
1,87,87,87,91,91,91,92,92,92,94,...,-98,-98,-98,-112,-112,-112,126,126,126,1
2,84,84,84,87,87,87,88,88,88,91,...,-114,-114,-114,-117,-117,-117,122,122,122,1
3,81,81,81,84,84,84,85,85,85,87,...,-121,-121,-121,117,117,117,102,102,102,1
4,80,80,80,83,83,83,84,84,84,85,...,-111,-111,-111,-123,-123,-123,123,123,123,1

In [97]:
x_test=x_test.append(x_test1,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_7124\3503196290.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x_test=x_test.append(x_test1,ignore_index = True)

In [98]:
x_train=pd.DataFrame([])
images = glob.glob("Spoof_data/Training Biometrika Live/test live/*.png")
for image in images:
    with open(image, 'rb') as file:
        img = Image.open(file)
        resize = (25, 25)
        img = img.resize(resize)
        arr = np.array(img)
        vector = arr.ravel()
        vector=[vector]
        image = pd.DataFrame(vector)
        x_train=x_train.append(image,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_7124\1765150087.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x_train=x_train.append(image,ignore_index = True)

In [99]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874
0,83,83,83,87,87,87,90,90,90,94,...,-102,-105,-105,-105,-120,-120,-120,125,125,125
1,89,89,89,93,93,93,97,97,97,101,...,-90,-100,-100,-100,-111,-111,-111,-122,-122,-122
2,85,85,85,89,89,89,91,91,91,94,...,-95,-105,-105,-105,-118,-118,-118,-128,-128,-128
3,77,77,77,81,81,81,84,84,84,88,...,127,115,115,115,109,109,109,109,109,109
4,87,87,87,91,91,91,94,94,94,97,...,-92,-103,-103,-103,-123,-123,-123,116,116,116

In [100]:
x_train.loc[:,'label']=0

In [101]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,1866,1867,1868,1869,1870,1871,1872,1873,1874,label
0,83,83,83,87,87,87,90,90,90,94,...,-105,-105,-105,-120,-120,-120,125,125,125,0
1,89,89,89,93,93,93,97,97,97,101,...,-100,-100,-100,-111,-111,-111,-122,-122,-122,0
2,85,85,85,89,89,89,91,91,91,94,...,-105,-105,-105,-118,-118,-118,-128,-128,-128,0
3,77,77,77,81,81,81,84,84,84,88,...,115,115,115,109,109,109,109,109,109,0
4,87,87,87,91,91,91,94,94,94,97,...,-103,-103,-103,-123,-123,-123,116,116,116,0

In [102]:
x_train1=pd.DataFrame([])
images = glob.glob("Spoof_data/Training Biometrika Spoof/Training Biometrika Spoof/test spoof/*.png")
for image in images:
    with open(image, 'rb') as file:
        img = Image.open(file)
        resize = (25, 25)
        img = img.resize(resize)
        arr = np.array(img)
        vector = arr.ravel()
        vector=[vector]
        image = pd.DataFrame(vector)
        x_train1=x_train1.append(image,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_7124\4191060817.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x_train1=x_train1.append(image,ignore_index = True)

In [103]:
x_train1.head()

,0,1,2,3,4,5,6,7,8,9,...,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874
0,82,82,82,86,86,86,90,90,90,93,...,-94,-104,-104,-104,-115,-115,-115,-127,-127,-127
1,81,81,81,84,84,84,88,88,88,91,...,-99,-108,-108,-108,-119,-119,-119,125,125,125
2,82,82,82,86,86,86,90,90,90,93,...,-95,-104,-104,-104,-116,-116,-116,-128,-128,-128
3,83,83,83,86,86,86,89,89,89,93,...,-96,-105,-105,-105,-116,-116,-116,-128,-128,-128
4,82,82,82,86,86,86,89,89,89,92,...,-94,-103,-103,-103,-115,-115,-115,125,125,125

In [104]:
x_train1['label']=1

In [105]:
x_train1.head()

,0,1,2,3,4,5,6,7,8,9,...,1866,1867,1868,1869,1870,1871,1872,1873,1874,label
0,82,82,82,86,86,86,90,90,90,93,...,-104,-104,-104,-115,-115,-115,-127,-127,-127,1
1,81,81,81,84,84,84,88,88,88,91,...,-108,-108,-108,-119,-119,-119,125,125,125,1
2,82,82,82,86,86,86,90,90,90,93,...,-104,-104,-104,-116,-116,-116,-128,-128,-128,1
3,83,83,83,86,86,86,89,89,89,93,...,-105,-105,-105,-116,-116,-116,-128,-128,-128,1
4,82,82,82,86,86,86,89,89,89,92,...,-103,-103,-103,-115,-115,-115,125,125,125,1

In [106]:
x_train=x_train.append(x_train1,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_7124\1603402243.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x_train=x_train.append(x_train1,ignore_index = True)

In [107]:
y_train=x_train.iloc[:,-1:]

In [108]:
x_train=x_train.iloc[:,:-1]

In [109]:
y_test=x_test.iloc[:,-1:]

In [110]:
x_test=x_test.iloc[:,:-1]

In [111]:
from sklearn.svm import SVC
model=SVC(C=1,degree=2,kernel='rbf')
model

SVC(C=1, degree=2)

In [112]:
model.fit(x_train,y_train)

C:\Users\prasa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1, degree=2)

In [113]:
y_pred=model.predict(x_test)

In [114]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [115]:
accuracy_score(y_pred,y_test)

0.115

In [116]:
confusion_matrix(y_pred,y_test)

array([[  4, 158],
       [196,  42]], dtype=int64)