In [1]:
import cv2
import glob
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [2]:
test_img=pd.DataFrame([])
for img in glob.glob("Spoof_data/Testing Biometrika Spoof/Testing Biometrika Spoof/spoof/*.png"):
    cv_img = cv2.imread(img)
    newsize = (30, 30)
    img = cv2.resize(cv_img,newsize,interpolation = cv2.INTER_AREA)
    arr = np.array(img)
    one_vector = arr.ravel()
    one_vector=[one_vector]
    image = pd.DataFrame(one_vector)
    test_img=test_img.append(image,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_8204\2113310715.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  test_img=test_img.append(image,ignore_index = True)

In [3]:
test_img.head()

,0,1,2,3,4,5,6,7,8,9,...,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699
0,76,76,76,74,74,74,80,80,80,86,...,-110,-114,-114,-114,-124,-124,-124,126,126,126
1,78,78,78,75,75,75,81,81,81,88,...,-107,-111,-111,-111,-120,-120,-120,-127,-127,-127
2,76,76,76,74,74,74,80,80,80,86,...,-109,-112,-112,-112,-122,-122,-122,-128,-128,-128
3,76,76,76,74,74,74,79,79,79,86,...,-128,-115,-115,-115,-123,-123,-123,127,127,127
4,76,76,76,74,74,74,79,79,79,86,...,-111,-113,-113,-113,-123,-123,-123,127,127,127

In [4]:
test_img['label'] = np.zeros(len(test_img.index),dtype=int)

In [5]:
test_img.head()

,0,1,2,3,4,5,6,7,8,9,...,2691,2692,2693,2694,2695,2696,2697,2698,2699,label
0,76,76,76,74,74,74,80,80,80,86,...,-114,-114,-114,-124,-124,-124,126,126,126,0
1,78,78,78,75,75,75,81,81,81,88,...,-111,-111,-111,-120,-120,-120,-127,-127,-127,0
2,76,76,76,74,74,74,80,80,80,86,...,-112,-112,-112,-122,-122,-122,-128,-128,-128,0
3,76,76,76,74,74,74,79,79,79,86,...,-115,-115,-115,-123,-123,-123,127,127,127,0
4,76,76,76,74,74,74,79,79,79,86,...,-113,-113,-113,-123,-123,-123,127,127,127,0

In [6]:
test_img_live=pd.DataFrame([])
for img in glob.glob("Spoof_data/Testing Biometrika Live/live/*.png"):
    cv_img = cv2.imread(img)
    newsize = (30, 30)
    img = cv2.resize(cv_img,newsize,interpolation = cv2.INTER_AREA)
    arr = np.array(img)
    one_vector = arr.ravel()
    one_vector=[one_vector]
    image = pd.DataFrame(one_vector)
    test_img_live=test_img_live.append(image,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_8204\3873394058.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  test_img_live=test_img_live.append(image,ignore_index = True)

In [7]:
test_img_live.head()

,0,1,2,3,4,5,6,7,8,9,...,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699
0,81,81,81,82,82,82,86,86,86,85,...,-118,-126,-126,-126,118,118,118,106,106,106
1,85,85,85,86,86,86,90,90,90,88,...,-96,-104,-104,-104,-118,-118,-118,125,125,125
2,81,81,81,83,83,83,86,86,86,85,...,-116,-113,-113,-113,-123,-123,-123,120,120,120
3,78,78,78,79,79,79,82,82,82,81,...,-114,126,126,126,112,112,112,100,100,100
4,77,77,77,78,78,78,81,81,81,80,...,-108,-116,-116,-116,-127,-127,-127,122,122,122

In [8]:
test_img_live['label'] = np.ones(len(test_img_live.index),dtype=int)

In [9]:
test_img_live.head()

,0,1,2,3,4,5,6,7,8,9,...,2691,2692,2693,2694,2695,2696,2697,2698,2699,label
0,81,81,81,82,82,82,86,86,86,85,...,-126,-126,-126,118,118,118,106,106,106,1
1,85,85,85,86,86,86,90,90,90,88,...,-104,-104,-104,-118,-118,-118,125,125,125,1
2,81,81,81,83,83,83,86,86,86,85,...,-113,-113,-113,-123,-123,-123,120,120,120,1
3,78,78,78,79,79,79,82,82,82,81,...,126,126,126,112,112,112,100,100,100,1
4,77,77,77,78,78,78,81,81,81,80,...,-116,-116,-116,-127,-127,-127,122,122,122,1

In [10]:
test_img=test_img.append(test_img_live,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_8204\1690458754.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  test_img=test_img.append(test_img_live,ignore_index = True)

In [11]:
test_img.head()

,0,1,2,3,4,5,6,7,8,9,...,2691,2692,2693,2694,2695,2696,2697,2698,2699,label
0,76,76,76,74,74,74,80,80,80,86,...,-114,-114,-114,-124,-124,-124,126,126,126,0
1,78,78,78,75,75,75,81,81,81,88,...,-111,-111,-111,-120,-120,-120,-127,-127,-127,0
2,76,76,76,74,74,74,80,80,80,86,...,-112,-112,-112,-122,-122,-122,-128,-128,-128,0
3,76,76,76,74,74,74,79,79,79,86,...,-115,-115,-115,-123,-123,-123,127,127,127,0
4,76,76,76,74,74,74,79,79,79,86,...,-113,-113,-113,-123,-123,-123,127,127,127,0

In [12]:
train_img=pd.DataFrame([])
for img in glob.glob("Spoof_data/Training Biometrika Spoof/Training Biometrika Spoof/train spoof/*.png"):
    cv_img = cv2.imread(img)
    newsize = (30, 30)
    img = cv2.resize(cv_img,newsize,interpolation = cv2.INTER_AREA)
    arr = np.array(img)
    one_vector = arr.ravel()
    one_vector=[one_vector]
    image = pd.DataFrame(one_vector)
    train_img=train_img.append(image,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_8204\2022530328.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_img=train_img.append(image,ignore_index = True)

In [13]:
train_img.head()

,0,1,2,3,4,5,6,7,8,9,...,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699
0,80,80,80,81,81,81,85,85,85,87,...,-101,-109,-109,-109,-119,-119,-119,127,127,127
1,78,78,78,79,79,79,83,83,83,85,...,-105,-113,-113,-113,-123,-123,-123,124,124,124
2,80,80,80,81,81,81,84,84,84,87,...,-102,-110,-110,-110,-120,-120,-120,127,127,127
3,80,80,80,81,81,81,84,84,84,87,...,-102,-110,-110,-110,-120,-120,-120,126,126,126
4,80,80,80,81,81,81,85,85,85,86,...,-101,-109,-109,-109,-120,-120,-120,123,123,123

In [14]:
train_img['label'] = np.zeros(len(train_img.index),dtype=int)

In [15]:
train_img.head()

,0,1,2,3,4,5,6,7,8,9,...,2691,2692,2693,2694,2695,2696,2697,2698,2699,label
0,80,80,80,81,81,81,85,85,85,87,...,-109,-109,-109,-119,-119,-119,127,127,127,0
1,78,78,78,79,79,79,83,83,83,85,...,-113,-113,-113,-123,-123,-123,124,124,124,0
2,80,80,80,81,81,81,84,84,84,87,...,-110,-110,-110,-120,-120,-120,127,127,127,0
3,80,80,80,81,81,81,84,84,84,87,...,-110,-110,-110,-120,-120,-120,126,126,126,0
4,80,80,80,81,81,81,85,85,85,86,...,-109,-109,-109,-120,-120,-120,123,123,123,0

In [16]:
train_img_live=pd.DataFrame([])
for img in glob.glob("Spoof_data/Training Biometrika Live/train live/*.png"):
    cv_img = cv2.imread(img)
    newsize = (30, 30)
    img = cv2.resize(cv_img,newsize,interpolation = cv2.INTER_AREA)
    arr = np.array(img)
    one_vector = arr.ravel()
    one_vector=[one_vector]
    image = pd.DataFrame(one_vector)
    train_img_live=train_img_live.append(image,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_8204\1796771252.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_img_live=train_img_live.append(image,ignore_index = True)

In [17]:
train_img_live.head()

,0,1,2,3,4,5,6,7,8,9,...,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699
0,80,80,80,84,84,84,87,87,87,87,...,-103,-113,-113,-113,-125,-125,-125,125,125,125
1,86,86,86,90,90,90,92,92,92,94,...,-97,-105,-105,-105,-115,-115,-115,-122,-122,-122
2,82,82,82,86,86,86,88,88,88,88,...,-102,-111,-111,-111,-122,-122,-122,127,127,127
3,74,74,74,78,78,78,80,80,80,81,...,117,112,112,112,109,109,109,112,112,112
4,84,84,84,88,88,88,91,91,91,91,...,-99,-113,-113,-113,126,126,126,115,115,115

In [18]:
train_img_live['label'] = np.ones(len(train_img_live.index),dtype=int)

In [19]:
train_img_live.head()

,0,1,2,3,4,5,6,7,8,9,...,2691,2692,2693,2694,2695,2696,2697,2698,2699,label
0,80,80,80,84,84,84,87,87,87,87,...,-113,-113,-113,-125,-125,-125,125,125,125,1
1,86,86,86,90,90,90,92,92,92,94,...,-105,-105,-105,-115,-115,-115,-122,-122,-122,1
2,82,82,82,86,86,86,88,88,88,88,...,-111,-111,-111,-122,-122,-122,127,127,127,1
3,74,74,74,78,78,78,80,80,80,81,...,112,112,112,109,109,109,112,112,112,1
4,84,84,84,88,88,88,91,91,91,91,...,-113,-113,-113,126,126,126,115,115,115,1

In [20]:
train_img=train_img.append(train_img_live,ignore_index = True)

C:\Users\prasa\AppData\Local\Temp\ipykernel_8204\3230532056.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_img=train_img.append(train_img_live,ignore_index = True)

In [21]:
train_img.head()

,0,1,2,3,4,5,6,7,8,9,...,2691,2692,2693,2694,2695,2696,2697,2698,2699,label
0,80,80,80,81,81,81,85,85,85,87,...,-109,-109,-109,-119,-119,-119,127,127,127,0
1,78,78,78,79,79,79,83,83,83,85,...,-113,-113,-113,-123,-123,-123,124,124,124,0
2,80,80,80,81,81,81,84,84,84,87,...,-110,-110,-110,-120,-120,-120,127,127,127,0
3,80,80,80,81,81,81,84,84,84,87,...,-110,-110,-110,-120,-120,-120,126,126,126,0
4,80,80,80,81,81,81,85,85,85,86,...,-109,-109,-109,-120,-120,-120,123,123,123,0

In [22]:
Y_train=train_img.iloc[:,-1:]

In [23]:
X_train=train_img.iloc[:,:-1]

In [24]:
Y_test=test_img.iloc[:,-1:]

In [25]:
X_test=test_img.iloc[:,:-1]

In [26]:
svc_model = SVC(C=0.1,degree=1,kernel='linear')

In [27]:
svc_model.fit(X_train,Y_train)

C:\Users\prasa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=0.1, degree=1, kernel='linear')

In [28]:
Y_pred=svc_model.predict(X_test)

In [29]:
print(accuracy_score(Y_test,Y_pred))

0.8525

In [30]:
print(confusion_matrix(Y_test,Y_pred))

[[181  19]
 [ 40 160]]

In [31]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.82      0.91      0.86       200
           1       0.89      0.80      0.84       200

    accuracy                           0.85       400
   macro avg       0.86      0.85      0.85       400
weighted avg       0.86      0.85      0.85       400